html {
  background-color: #fcfbfb;
}

button {
  display: inline-block;
  width: 100px;
  height: 50px;
  background-color: #feb6c0;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin: 0 10px;
  color: #aa6a72;
  font-weight: bold;
  font-size: 18px;
}

h1 {
  font-family: Comic Sans MS;
  text-align: center;
  color: #b17f86;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

#buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
